// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #87cefa; /* azul bebê */
  --ion-color-dark: #1c1c1c;    /* preto escuro */
  --ion-color-light: #f8f8f8;  /* branco suave */
  --ion-color-medium: #dcdcdc; /* cinza claro */
}
